@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.poppin_font {
    font-family: 'Poppins', sans-serif;
}

.bg1 {
    background-image: url(../../src/assets/home_bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    background-image: url(../../src/assets/home_bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3 {
    background-image: url(../../src/assets/home_bg3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-logo {
    background-image: url(../../src/assets/bg_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-tree {
    background-image: url(../../src/assets/coconut_tree.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_bg {
    background-image: url(../../src/assets/footer_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}


/*  */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*  */

.card-container {
    position: relative;
    z-index: 1;
    float: left;
    perspective: 1000px;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .8s linear;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
}

.card:hover {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, .3);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    opacity: 1;
    background: #EB268F;
}